* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  object-fit: cover;
}

/* App */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main */
.navbar {
  height: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-and-search {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.nav-user-control {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.image-list{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image {
  width: 100%;
}

/* Mypage */
.user-info-area {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.user-profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
}

.user-info {
  padding: 30px;
  text-align: left;
}

/* Search */
.search-headder {
  font-size: 2rem;
  font-weight: 500;
}


/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.modal-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

.modal-content {
  margin: 10px;
}

/* ImageUpload */
.upload-area {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 50vw;
  height: 10vh;
  background-color: rgb(225, 225, 225);
  color: rgb(120, 120, 120);
  text-align: center;
}

.image-preview {
  max-width: 90vw;
  max-height: 90vh;
}

.input-submit-btn {
  margin: 0.3rem;
  padding: 0.3rem;
}

#input-file {
  display: none;
}

/* for loading indicator */

.lds-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid gray;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: gray transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  